@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* -----------
    Top-banner
-------------- */
.container{
    background-color: #161616;
    width: 80%;

    border-radius: 30px;
    padding-left: 111px;
    margin: 2%;

}
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    align-items: center;
    color: aliceblue;
  

}
.banner_tittle{
    font-weight: 700;
    font-size: 60px;
}
.banner_info{
    font-size: 16px;
}
.red_button {
    width: 187px;
    height: 56px;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color:#DD0000 ;
    border: none;
}

.banner img{
    width: 581px;
    height: 613px;
}
/* ------------
        Blogs
----------------*/
.Blogs{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    gap: 30px;
    justify-items: center;
    padding: 60px;
    
}
.navigator{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
/* .navigator .white-blog ,.red-blog {
    width: 252px;
    height: 64px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    
} */
.white-blog ,.red-blog{
    text-decoration: none;
    display: grid;
    align-items: center;
    justify-content: center;
    color: black;
    width: 252px;
    height: 64px;
    font-size: 20px;
    border-radius: 10px;
    background-color:white;
    margin: 4%;
    border: none;
    
}
.red-blog{
    color: black;
    background-color: #DD0000;
    color: white;

    
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.card{
    box-shadow: 1px 2px 4px gray;
    border-radius: 10px;
    width: 312px;
    height: 362px;
    padding:1% ;
  
}

 .transfer-tittle p{
    border: 1px solid #161616;
    width: 100px;
    padding: 4px;
    text-align: center;
  
 }
.transfer-icon{
    display: flex;
    padding: 0px 4px;
    gap: 20px;
       
}
.view-all{
  visibility: hidden;
}
.flag{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    align-content: center;
    justify-items: center;
    width: 312px;
    height: 242px;
  
}
.flag-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
/* --------
        Footer 
----------*/
footer{
    background-color: #161616;
    color: #ffffff;
    margin-top: 2%;
}

.goal{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
  
}
hr{
    border: 1px solid #D1D1D1;
    width: 98%;
    margin: 50px
}
.policy{
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    justify-items: center;
}
.goal-footer{
    padding: 130px;
}


/* Media Query */
/* Mobile */
@media only screen and (max-width:688px){
 .container{
        background-color: #161616;
        width: 334px;
        height: 472px;
        border-radius: 30px;
        padding: 37px;
    
    }
.banner{
   grid-template-columns: repeat(1,1fr);
   justify-items: center;
}
.details{
    padding: 20px;
    
}

.banner_tittle{
    font-weight: 700;
    font-size: 22px;
}
.red_button{
    
    width: 161px;
    height: 46px;
    padding: 10px;
    font-size: 18px;
    margin-left: 45px;
}
.banner_info{
    font-size: 14px;
}
.banner img{
    margin-top: 20px;
    width: 233px;
    height: 245px;
}
/* ---------
    Blogs
--------- */

.Blogs , .cards{
    grid-template-columns: repeat(1,1fr);
     }
     .navigator{
        background-color: #ffffff;
        border: none;
        margin: 0%;
    }
    .view-all{
        visibility: visible;
    }
  /* --------
  Footer
  ------ */
  .policy{
    grid-template-columns: repeat(1,1fr) ;
    }

}
/* Ipad */
@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 734px;
        height: 398px;
        /* padding-left: 20px; */
    }
    .banner_tittle{
        font-weight: 700;
        font-size: 40px;
    }
    .banner_info{
        font-size: 14px;
    }
    .banner img{
        width: 323px;
        height: 340px;
    }
   
    /* ------------
            Blogs
    -------- */
    .Blogs{
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
        padding: 0%;
   }
    .navigator{  
        flex-direction: row;
        height: auto;
        width: auto;
        background-color: #ffffff;
       border: none;
        margin: 0%;
    }
    .white-blog{
        width: 230px;
        height: 64px; 
        color: #161616;
        background-color:#ffffff;
        border: 2px solid gray;
    }
    
    .cards{
      grid-template-columns: repeat(2,1fr);
      grid-gap: 40px;
      
    }
    .card{
        width: 357px;
        height: 415px;
        /* border: 2px solid black; */
    }
    .card img{
        width: 100%;
    }
    .view-all{
        visibility: visible;
    }
    /* Footer */
    .policy{
        grid-template-columns: repeat(4,1fr) ;
        
    }

    
}